body {
    font-family: 'Labrada', serif;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
} 

/* ------- MIDDLE MENU STYLES ------- */
.menu-item {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.menu-info-group {
   height: 10px;
}
.detail-item {
    color: #8B8B8B;
    font-size: small;
    font-style: italic;
}
.emoji-item {
    font-size: 70px;
    padding: 10px 20px;
    margin: 10px;
}
.name-item {
    font-size: larger;
}
.price-item {
    font-size: 18px;
  
}
/* ------------------------------------- */

/* ------- BUTTON AND MISC STYLE ------- */
.add-btn {
    background-color: white;
    border: 1px solid rgba(78, 76, 76, 0.5); 
    color: #3C3C3C;

    text-align: center;
    text-decoration: none;
    font-size: 25px;

    margin-left: auto;
    height: 48px;
    width: 50px;
    border-radius: 50%;

    margin-top: 70px;
    margin-right: 70px;
}
hr {
    max-width: 80%;
    margin-top: 50px;

}

/* ----------- ORDER STYLES ----------- */

#checkout-header {
    text-align: center;
}

.checkout{
    display: block; 
    width: 508px;
    height: 319px;
    margin:45px;
    text-align: center;
    position: relative;
}
.checkout-item, .total{
  
    display: flex;
    justify-content: space-between;
    margin: 20px 0; 
}

.item-added, .total{
    display: flex;
    flex-direction: row;
}

.item-added-name {
font-size: large;
}

.item-added-price {
font-size: small;

}
.remove-btn {
    background-color: transparent;
    border: none;
    color: gray;  
}


#hr-checkout {
    margin-top: 10px;
}

.total {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
   
    
}

#total-price {
font-size: 20px;
  padding-right: 50px;
}

/* MODAL */
.modal-container{
    display: none; /*flex when displayed*/
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    overflow:auto;
    left:0;top:0;
    width: 100%;
    height: 100%
}

.payment-modal{
    display: flex; /*flex when displayed*/
    flex-direction: column;
    position: fixed;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    align-items: center; 
    /* justify-content: center;  */
    border: 1.3px solid #757575;
    background: #FFFFFF;
    border-radius: 3.88991px;
    width: 524px;
    height: 542.24px;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
}

.payment-modal>h4{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin: 46px;
}

#form-el{
    text-align: center;
}

input{
    width: 423.91px;
    height: 42.3px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    border: 1.29664px solid #757575;
    border-radius: 3.88991px;
    margin-bottom: 22px;
    padding: 16px 26px 13px 26px
}

.pay-btn{
    width: 475.91px;
    height: 71.3px;
    left: 61.22px;
    top: 733.09px;
    margin: 20px 0;
}

.order-dertails{
    display: none; /* block when visible */
    position: absolute;
    width: 504px;
    height: 120px;
    left: 50px;
    top: 789px;
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 17px;
    background: #ECFDF5;
    border-radius: 3px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 250px;
    color: #065F46;
}


.purchase-btn{
    /* position: absolute; */
    width: 508px;
    height: 60px;
    left: 0px;
    top: 260px;
}